parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method build\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Builder/Attribute/DatabaseProductAttributeValueValueBuilder.php

		-
			message: "#^Parameter \\#2 \\$datetime of static method DateTime\\:\\:createFromFormat\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Builder/Attribute/DateProductAttributeValueValueBuilder.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: ../src/Builder/Attribute/DateProductAttributeValueValueBuilder.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: ../src/Builder/Attribute/IntegerProductAttributeValueValueBuilder.php

		-
			message: "#^Parameter \\#2 \\$array of function implode expects array\\<string\\>, mixed given\\.$#"
			count: 1
			path: ../src/Builder/Attribute/MetricProductAttributeValueValueBuilder.php

		-
			message: "#^Parameter \\#2 \\$pieces of function implode expects array, mixed given\\.$#"
			count: 1
			path: ../src/Builder/Attribute/MetricProductAttributeValueValueBuilder.php

		-
			message: "#^Parameter \\#2 \\$array of function implode expects array\\|null, mixed given\\.$#"
			count: 1
			path: ../src/Builder/Attribute/MetricProductAttributeValueValueBuilder.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../src/Builder/Attribute/MultiSelectProductAttributeValueValueBuilder.php

		-
			message: "#^Cannot access offset mixed on mixed\\.$#"
			count: 1
			path: ../src/Builder/Attribute/MultiSelectProductAttributeValueValueBuilder.php

		-
			message: "#^Parameter \\#1 \\$value of method Synolia\\\\SyliusAkeneoPlugin\\\\Transformer\\\\AttributeOptionValueDataTransformerInterface\\:\\:transform\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Builder/Attribute/MultiSelectProductAttributeValueValueBuilder.php

		-
			message: "#^Parameter \\#2 \\$recordCode of method Akeneo\\\\PimEnterprise\\\\ApiClient\\\\Api\\\\ReferenceEntityRecordApiInterface\\:\\:get\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Builder/Attribute/ReferenceEntityAttributeValueValueBuilder.php

		-
			message: "#^Parameter \\#4 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: ../src/Builder/Attribute/ReferenceEntityAttributeValueValueBuilder.php

		-
			message: "#^Parameter \\#1 \\$value of method Synolia\\\\SyliusAkeneoPlugin\\\\Transformer\\\\AttributeOptionValueDataTransformerInterface\\:\\:transform\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Builder/Attribute/SelectProductAttributeValueValueBuilder.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: ../src/Builder/Attribute/TextProductAttributeValueValueBuilder.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Command/BatchImportAssociationTypesCommand.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Command/BatchImportAssociationTypesCommand.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Command/BatchImportAttributesCommand.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Command/BatchImportAttributesCommand.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Command/BatchImportFamiliesCommand.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Command/BatchImportFamiliesCommand.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Command/BatchImportProductModelsCommand.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Command/BatchImportProductModelsCommand.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Command/BatchImportProductsCommand.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Command/BatchImportProductsCommand.php

		-
			message: "#^Method Synolia\\\\SyliusAkeneoPlugin\\\\Command\\\\Context\\\\CommandContext\\:\\:isContinue\\(\\) should return bool but returns mixed\\.$#"
			count: 1
			path: ../src/Command/Context/CommandContext.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../src/Controller/AttributesController.php

		-
			message: "#^Cannot access offset 'settings' on mixed\\.$#"
			count: 1
			path: ../src/Controller/AttributesController.php

		-
			message: "#^Parameter \\#1 \\$attributes of method Synolia\\\\SyliusAkeneoPlugin\\\\Controller\\\\AttributesController\\:\\:addMappedItemsFromFormRequest\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Controller/AttributesController.php

		-
			message: "#^Parameter \\#1 \\$attributes of method Synolia\\\\SyliusAkeneoPlugin\\\\Controller\\\\AttributesController\\:\\:removeRemovedMappedItemsFromFormRequest\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Controller/AttributesController.php

		-
			message: "#^Parameter \\#1 \\$name of method Synolia\\\\SyliusAkeneoPlugin\\\\Manager\\\\SettingsManagerInterface\\:\\:set\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Controller/AttributesController.php

		-
			message: "#^Parameter \\#1 \\$object of method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:persist\\(\\) expects object, mixed given\\.$#"
			count: 1
			path: ../src/Controller/CategoriesController.php

		-
			message: "#^Parameter \\#1 \\$object of method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:persist\\(\\) expects object, mixed given\\.$#"
			count: 1
			path: ../src/Controller/ProductFilterRulesController.php

		-
			message: "#^Parameter \\#1 \\$object of method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:persist\\(\\) expects object, mixed given\\.$#"
			count: 1
			path: ../src/Controller/ProductsController.php

		-
			message: "#^Parameter \\#1 \\$object of method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:remove\\(\\) expects object, mixed given\\.$#"
			count: 1
			path: ../src/Controller/ProductsController.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: ../src/Factory/PayloadFactory.php

		-
			message: "#^Parameter \\#1 \\$allowParallel of method Synolia\\\\SyliusAkeneoPlugin\\\\Configuration\\\\ConfigurationContextInterface\\:\\:setAllowParallel\\(\\) expects bool, mixed given\\.$#"
			count: 1
			path: ../src/Factory/PayloadFactory.php

		-
			message: "#^Parameter \\#1 \\$isContinue of method Synolia\\\\SyliusAkeneoPlugin\\\\Command\\\\Context\\\\CommandContext\\:\\:setIsContinue\\(\\) expects bool, mixed given\\.$#"
			count: 1
			path: ../src/Factory/PayloadFactory.php

		-
			message: "#^Method Synolia\\\\SyliusAkeneoPlugin\\\\Form\\\\DataTransformer\\\\ReferenceEntityDataTransformer\\:\\:reverseTransform\\(\\) should return array\\|null but returns mixed\\.$#"
			count: 1
			path: ../src/Form/DataTransformer/ReferenceEntityDataTransformer.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Form/DataTransformer/ReferenceEntityDataTransformer.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 1
			path: ../src/Form/Type/AttributeCodeChoiceType.php

		-
			message: "#^Cannot access offset 'labels' on mixed\\.$#"
			count: 2
			path: ../src/Form/Type/AttributeCodeChoiceType.php

		-
			message: "#^Cannot access offset string on mixed\\.$#"
			count: 1
			path: ../src/Form/Type/AttributeCodeChoiceType.php

		-
			message: "#^Parameter \\#1 \\$array_arg of function current expects array\\|object, mixed given\\.$#"
			count: 1
			path: ../src/Form/Type/AttributeCodeChoiceType.php

		-
			message: "#^Parameter \\#1 \\$array of function current expects array\\|object, mixed given\\.$#"
			count: 1
			path: ../src/Form/Type/AttributeCodeChoiceType.php

		-
			message: "#^Cannot access offset 'settings' on mixed\\.$#"
			count: 1
			path: ../src/Form/Type/AttributesTypeMappingType.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 4
			path: ../src/Form/Type/CategoriesChoiceType.php

		-
			message: "#^Cannot access offset 'labels' on mixed\\.$#"
			count: 2
			path: ../src/Form/Type/CategoriesChoiceType.php

		-
			message: "#^Cannot access offset string\\|null on mixed\\.$#"
			count: 2
			path: ../src/Form/Type/CategoriesChoiceType.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: ../src/Form/Type/CategoriesChoiceType.php

		-
			message: "#^Parameter \\#3 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: ../src/Form/Type/CategoriesChoiceType.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 2
			path: ../src/Form/Type/ChannelChoiceType.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 2
			path: ../src/Form/Type/FamiliesChoiceType.php

		-
			message: "#^Cannot call method getAkeneoAttributes\\(\\) on mixed\\.$#"
			count: 1
			path: ../src/Processor/AbstractImageProcessor.php

		-
			message: "#^Parameter \\#1 \\$name of method Sylius\\\\Component\\\\Product\\\\Generator\\\\SlugGeneratorInterface\\:\\:generate\\(\\) expects string, mixed given\\.$#"
			count: 2
			path: ../src/Processor/Product/CompleteRequirementProcessor.php

		-
			message: "#^Parameter \\#3 \\$productName of method Synolia\\\\SyliusAkeneoPlugin\\\\Processor\\\\Product\\\\CompleteRequirementProcessor\\:\\:setProductTranslation\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: ../src/Processor/Product/CompleteRequirementProcessor.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 1
			path: ../src/Processor/ProductOptionValue/ReferenceEntityOptionValuesProcessor.php

		-
			message: "#^Parameter \\#2 \\$value of method Synolia\\\\SyliusAkeneoPlugin\\\\Transformer\\\\ProductOptionValueDataTransformerInterface\\:\\:transform\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Processor/ProductOptionValue/ReferenceEntityOptionValuesProcessor.php

		-
			message: "#^Parameter \\#3 \\$record of method Synolia\\\\SyliusAkeneoPlugin\\\\Processor\\\\ProductOptionValue\\\\ReferenceEntityOptionValuesProcessor\\:\\:updateProductOptionValueTranslations\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Processor/ProductOptionValue/ReferenceEntityOptionValuesProcessor.php

		-
			message: "#^Cannot access offset 'data' on mixed\\.$#"
			count: 1
			path: ../src/Provider/AkeneoAttributeDataProvider.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 1
			path: ../src/Provider/AkeneoAttributeDataProvider.php

		-
			message: "#^Parameter \\#2 \\$attributeValues of method Synolia\\\\SyliusAkeneoPlugin\\\\Provider\\\\AkeneoAttributeDataProvider\\:\\:getByLocale\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Provider/AkeneoAttributeDataProvider.php

		-
			message: "#^Parameter \\#2 \\$attributeValues of method Synolia\\\\SyliusAkeneoPlugin\\\\Provider\\\\AkeneoAttributeDataProvider\\:\\:getByLocaleAndScope\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Provider/AkeneoAttributeDataProvider.php

		-
			message: "#^Parameter \\#2 \\$attributeValues of method Synolia\\\\SyliusAkeneoPlugin\\\\Provider\\\\AkeneoAttributeDataProvider\\:\\:getByScope\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Provider/AkeneoAttributeDataProvider.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 1
			path: ../src/Provider/AkeneoAttributePropertiesProvider.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 1
			path: ../src/Provider/AkeneoFamilyPropertiesProvider.php

		-
			message: "#^Cannot access offset 'data' on mixed\\.$#"
			count: 1
			path: ../src/Provider/AkeneoReferenceEntityAttributeDataProvider.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 1
			path: ../src/Provider/AkeneoReferenceEntityAttributeDataProvider.php

		-
			message: "#^Parameter \\#1 \\$attributeValues of method Synolia\\\\SyliusAkeneoPlugin\\\\Provider\\\\AkeneoReferenceEntityAttributeDataProvider\\:\\:getByLocale\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Provider/AkeneoReferenceEntityAttributeDataProvider.php

		-
			message: "#^Parameter \\#1 \\$attributeValues of method Synolia\\\\SyliusAkeneoPlugin\\\\Provider\\\\AkeneoReferenceEntityAttributeDataProvider\\:\\:getByLocaleAndScope\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Provider/AkeneoReferenceEntityAttributeDataProvider.php

		-
			message: "#^Parameter \\#1 \\$attributeValues of method Synolia\\\\SyliusAkeneoPlugin\\\\Provider\\\\AkeneoReferenceEntityAttributeDataProvider\\:\\:getByScope\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Provider/AkeneoReferenceEntityAttributeDataProvider.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 3
			path: ../src/Provider/SyliusAkeneoLocaleCodeProvider.php

		-
			message: "#^Cannot access offset 'enabled' on mixed\\.$#"
			count: 1
			path: ../src/Provider/SyliusAkeneoLocaleCodeProvider.php

		-
			message: "#^Property Synolia\\\\SyliusAkeneoPlugin\\\\Provider\\\\SyliusAkeneoLocaleCodeProvider\\:\\:\\$localesCode \\(array\\<string\\>\\) does not accept array\\.$#"
			count: 1
			path: ../src/Provider/SyliusAkeneoLocaleCodeProvider.php

		-
			message: "#^Method Synolia\\\\SyliusAkeneoPlugin\\\\Repository\\\\ChannelRepository\\:\\:findByCurrencyCode\\(\\) should return iterable but returns mixed\\.$#"
			count: 1
			path: ../src/Repository/ChannelRepository.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 1
			path: ../src/Repository/LocaleRepository.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, mixed given\\.$#"
			count: 1
			path: ../src/Repository/LocaleRepository.php

		-
			message: "#^Method Synolia\\\\SyliusAkeneoPlugin\\\\Repository\\\\ProductAttributeRepository\\:\\:findByCodes\\(\\) should return array\\<int, int\\> but returns mixed\\.$#"
			count: 1
			path: ../src/Repository/ProductAttributeRepository.php

		-
			message: "#^Method Synolia\\\\SyliusAkeneoPlugin\\\\Repository\\\\ProductAttributeRepository\\:\\:getMissingAttributesIds\\(\\) should return array\\<int, int\\> but returns mixed\\.$#"
			count: 1
			path: ../src/Repository/ProductAttributeRepository.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(mixed\\)\\: mixed\\)\\|null, Closure\\(array\\)\\: mixed given\\.$#"
			count: 1
			path: ../src/Repository/ProductAttributeRepository.php

		-
			message: "#^Parameter \\#1 \\$var of function count expects array\\|Countable, mixed given\\.$#"
			count: 1
			path: ../src/Repository/ProductAttributeRepository.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, mixed given\\.$#"
			count: 1
			path: ../src/Repository/ProductAttributeRepository.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, mixed given\\.$#"
			count: 1
			path: ../src/Repository/ProductAttributeRepository.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: ../src/Repository/ProductGroupRepository.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(mixed\\)\\: mixed\\)\\|null, Closure\\(array\\)\\: mixed given\\.$#"
			count: 1
			path: ../src/Repository/ProductOptionRepository.php

		-
			message: "#^Parameter \\#1 \\$var of function count expects array\\|Countable, mixed given\\.$#"
			count: 1
			path: ../src/Repository/ProductOptionRepository.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, mixed given\\.$#"
			count: 1
			path: ../src/Repository/ProductOptionRepository.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, mixed given\\.$#"
			count: 1
			path: ../src/Repository/ProductOptionRepository.php

		-
			message: "#^Method Synolia\\\\SyliusAkeneoPlugin\\\\Repository\\\\ProductRepository\\:\\:findProductsUsingCategories\\(\\) should return iterable but returns mixed\\.$#"
			count: 1
			path: ../src/Repository/ProductRepository.php

		-
			message: "#^Method Synolia\\\\SyliusAkeneoPlugin\\\\Repository\\\\TaxonRepository\\:\\:getMissingCategoriesIds\\(\\) should return iterable but returns mixed\\.$#"
			count: 1
			path: ../src/Repository/TaxonRepository.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 4
			path: ../src/Retriever/FamilyRetriever.php

		-
			message: "#^Method Synolia\\\\SyliusAkeneoPlugin\\\\Retriever\\\\FamilyRetriever\\:\\:getFamilyCodeByVariantCode\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: ../src/Retriever/FamilyRetriever.php

		-
			message: "#^Parameter \\#1 \\$familyCode of method Akeneo\\\\Pim\\\\ApiClient\\\\Api\\\\FamilyVariantApiInterface\\:\\:all\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Retriever/FamilyRetriever.php

		-
			message: "#^Property Synolia\\\\SyliusAkeneoPlugin\\\\Retriever\\\\FamilyRetriever\\:\\:\\$familiesByVariant \\(array\\<string\\>\\) does not accept array\\.$#"
			count: 1
			path: ../src/Retriever/FamilyRetriever.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 2
			path: ../src/Task/AbstractProcessTask.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 3
			path: ../src/Task/AbstractProcessTask.php

		-
			message: "#^Parameter \\#1 \\$array_arg of function current expects array\\|object, mixed given\\.$#"
			count: 2
			path: ../src/Task/AbstractProcessTask.php

		-
			message: "#^Parameter \\#1 \\$array of function current expects array\\|object, mixed given\\.$#"
			count: 2
			path: ../src/Task/AbstractProcessTask.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 2
			path: ../src/Task/AssociationType/BatchAssociationTypesTask.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 2
			path: ../src/Task/AssociationType/BatchAssociationTypesTask.php

		-
			message: "#^Cannot access offset 'values' on mixed\\.$#"
			count: 1
			path: ../src/Task/AssociationType/BatchAssociationTypesTask.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: ../src/Task/AssociationType/BatchAssociationTypesTask.php

		-
			message: "#^Parameter \\#1 \\$code of method Sylius\\\\Component\\\\Resource\\\\Model\\\\CodeAwareInterface\\:\\:setCode\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: ../src/Task/AssociationType/BatchAssociationTypesTask.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Task/AssociationType/BatchAssociationTypesTask.php

		-
			message: "#^Parameter \\#1 \\$resource of method Synolia\\\\SyliusAkeneoPlugin\\\\Task\\\\AssociationType\\\\BatchAssociationTypesTask\\:\\:addTranslations\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Task/AssociationType/BatchAssociationTypesTask.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Cannot access offset 'axes' on mixed\\.$#"
			count: 1
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 1
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 2
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Cannot access offset 'values' on mixed\\.$#"
			count: 1
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Cannot access offset 'variant_attribute…' on mixed\\.$#"
			count: 2
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 1
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Parameter \\#1 \\$array_arg of function usort expects array, mixed given\\.$#"
			count: 1
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Parameter \\#1 \\$array of function usort expects array, mixed given\\.$#"
			count: 1
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Parameter \\#1 \\$familyCode of method Akeneo\\\\Pim\\\\ApiClient\\\\Api\\\\FamilyVariantApiInterface\\:\\:all\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Parameter \\#1 \\$resource of class Synolia\\\\SyliusAkeneoPlugin\\\\Event\\\\Attribute\\\\BeforeProcessingAttributeEvent constructor expects array, mixed given\\.$#"
			count: 1
			path: ../src/Task/Attribute/BatchAttributesTask.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 1
			path: ../src/Task/Attribute/RetrieveAttributesTask.php

		-
			message: "#^Parameter \\#2 \\$value of static method Synolia\\\\SyliusAkeneoPlugin\\\\Logger\\\\Messages\\:\\:totalToImport\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: ../src/Task/Attribute/RetrieveAttributesTask.php

		-
			message: "#^Cannot access offset 'code' on mixed\\.$#"
			count: 4
			path: ../src/Task/Category/RetrieveCategoriesTask.php

		-
			message: "#^Parameter \\#3 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 2
			path: ../src/Task/Category/RetrieveCategoriesTask.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 2
			path: ../src/Task/Family/BatchFamilyTask.php

		-
			message: "#^Cannot access offset 'values' on mixed\\.$#"
			count: 1
			path: ../src/Task/Family/BatchFamilyTask.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: ../src/Task/Family/BatchFamilyTask.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Task/Family/BatchFamilyTask.php

		-
			message: "#^Parameter \\#1 \\$resource of method Synolia\\\\SyliusAkeneoPlugin\\\\Processor\\\\ProductGroup\\\\FamilyVariationAxeProcessor\\:\\:process\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Task/Family/BatchFamilyTask.php

		-
			message: "#^Parameter \\#1 \\$resource of method Synolia\\\\SyliusAkeneoPlugin\\\\Task\\\\Family\\\\BatchFamilyTask\\:\\:createProductGroups\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Task/Family/BatchFamilyTask.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: ../src/Task/Product/AbstractCreateProductEntities.php

		-
			message: "#^Parameter \\#1 \\$array_arg of function current expects array\\|object, mixed given\\.$#"
			count: 1
			path: ../src/Task/Product/AbstractCreateProductEntities.php

		-
			message: "#^Parameter \\#1 \\$array of function current expects array\\|object, mixed given\\.$#"
			count: 1
			path: ../src/Task/Product/AbstractCreateProductEntities.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 2
			path: ../src/Task/Product/BatchProductsTask.php

		-
			message: "#^Cannot access offset 'parent' on mixed\\.$#"
			count: 1
			path: ../src/Task/Product/BatchProductsTask.php

		-
			message: "#^Cannot access offset 'values' on mixed\\.$#"
			count: 1
			path: ../src/Task/Product/BatchProductsTask.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: ../src/Task/Product/BatchProductsTask.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Task/Product/BatchProductsTask.php

		-
			message: "#^Parameter \\#2 \\$resource of method Synolia\\\\SyliusAkeneoPlugin\\\\Task\\\\Product\\\\ConfigurableProductsTask\\:\\:__invoke\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Task/Product/BatchProductsTask.php

		-
			message: "#^Parameter \\#2 \\$resource of method Synolia\\\\SyliusAkeneoPlugin\\\\Task\\\\Product\\\\SimpleProductTask\\:\\:__invoke\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Task/Product/BatchProductsTask.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 2
			path: ../src/Task/ProductModel/BatchProductModelTask.php

		-
			message: "#^Cannot access offset 'values' on mixed\\.$#"
			count: 1
			path: ../src/Task/ProductModel/BatchProductModelTask.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: ../src/Task/ProductModel/BatchProductModelTask.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, mixed given\\.$#"
			count: 1
			path: ../src/Task/ProductModel/BatchProductModelTask.php

		-
			message: "#^Parameter \\#1 \\$resource of class Synolia\\\\SyliusAkeneoPlugin\\\\Event\\\\Product\\\\BeforeProcessingProductEvent constructor expects array, mixed given\\.$#"
			count: 1
			path: ../src/Task/ProductModel/BatchProductModelTask.php

		-
			message: "#^Parameter \\#1 \\$resource of method Synolia\\\\SyliusAkeneoPlugin\\\\Checker\\\\Product\\\\IsProductProcessableCheckerInterface\\:\\:check\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../src/Task/ProductModel/BatchProductModelTask.php
