parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - ../tests/Application/config/bootstrap.php
        - ../vendor/autoload.php
    excludes_analyse:
        # Makes PHPStan crash
        - ../src/Configuration/SettingConfiguration.php
        - ../src/DependencyInjection/Configuration.php
        - ../src/Migrations/
        - ../tests/PHPUnit
        - ../src/Manager/SettingsManager.php
        - ../src/Form/Type/SettingsType.php
        - ../phpinsights.php

        # Test dependencies
        - ../tests/Application
        - ../tests/PHPUnit

        # PHPSpec
        - ../spec

    ignoreErrors:
        - '#Cannot call method [a-zA-Z0-9]+\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
