includes:
	- phpstan-baseline.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - ../vendor/autoload.php
    excludePaths:
        # Makes PHPStan crash
        - ../src/Configuration/SettingConfiguration.php
        - ../src/DependencyInjection/Configuration.php
        - ../src/Migrations/
        - ../tests/PHPUnit
        - ../src/Manager/SettingsManager.php
        - ../src/Form/Type/SettingsType.php

        # Test dependencies
        - ../tests/Application
        - ../tests/PHPUnit
    ignoreErrors:
        - '#Cannot call method [a-zA-Z0-9]+\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        - '#Call to an undefined method League\\Pipeline\\PipelineInterface\:\:process\(\).#'
        - '#Method Doctrine\\Persistence\\ObjectRepository<object>\:\:findOneBy\(\) invoked with 2 parameters, 1 required.#'
