{% if akeneo_is_taxon_attribute_enabled() %}
<div class="ui segment">
    <div class="sixteen wide mobile twelve wide computer column">
        {{ sylius_template_event('akeneo.admin.taxon.show.attributes', _context) }}
    </div>
</div>
{% endif %}
