.ui.toggle.switch {
    display: inline-flex;

    input {
        width: 100%;
    }

    & > span {
        cursor: pointer;
        padding-top: .15em;
        padding-right: 1rem;
    }
}

#switchForm + label {
    cursor: pointer;
}

form .ui.pointing.below.label:before {
    left: 20px;
}

[id*=Mappings] {
    margin: 0 0 1rem;

    @media screen and (min-width: 60em) {
        [data-form-collection=item] {
            display: flex;
            justify-content: flex-start;

            & > div {
                display: flex;
                margin: 0 0 1rem;

                &.field {
                    display: block;
                }

                & > .field {
                    margin-right: 1rem;

                    & input,
                    & select {
                        min-width: 320px;
                    }
                }
            }
        }
    }
}
