.synolia {
    @include brand(18, $magenta-pink);
}

.akeneo {
    @include brand();
}

.muted {
    color: rgba(0, 0, 0, .4) !important;
}

.hidden {
    display: none;
    visibility: hidden;
}

.ui.header {
    display: table;
}
