@mixin brand($size: 20, $color: $black, $weight: 700) {
    font-weight: $weight;
    color: $color;
    fill: $color;

    &:hover > span {
        color: $color;
        text-decoration: underline;
    }

    svg {
        vertical-align: text-bottom;
        width: #{$size}px;
    }
}
