<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 34.4 34.4" xml:space="preserve">
    <title>Akeneo Logo</title>
    <defs>
        <style>
            .st0{fill:url(#SVGID_1_);}
            .st1{opacity:0.51;fill:url(#SVGID_2_);enable-background:new ;}
            .st2{opacity:0.51;fill:url(#SVGID_3_);enable-background:new ;}
            .st3{fill:url(#SVGID_4_);}
            .st4{fill:url(#SVGID_5_);}
            .st5{fill:none;}
        </style>
    </defs>
    <g>
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-650.4233" y1="384.0998" x2="-649.4555"
                        y2="384.0857"
                        gradientTransform="matrix(28.2681 -14.4033 -14.3982 -28.2581 23922.3301 1512.0492)">
            <stop offset="4.294500e-02" style="stop-color:#5F2385"/>
            <stop offset="0.9693" style="stop-color:#9452BA"/>
        </linearGradient>
        <path class="st0" d="M32.8,16.1c0-0.1,0-0.2,0.1-0.3c0-0.1,0.1-0.3,0.1-0.4c0.3-1.6-0.2-3.5-1.4-5.5c-0.1-0.2-0.2-0.4-0.3-0.5
		c-0.2-0.3-0.4-0.6-0.6-0.9c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.1-0.2-0.2-0.2c-0.1-0.1-0.1-0.2-0.2-0.3c-0.1-0.1-0.1-0.2-0.2-0.2
		c-0.1-0.1-0.1-0.2-0.2-0.3c-0.1-0.1-0.1-0.1-0.2-0.2c-1.9-2.4-4.3-4.7-6.9-6.8c0.2,3.3,0.1,6.6-0.4,9.2c-0.5,3.2-1.9,6.8-3.6,10.1
		c-3.7-0.5-7.4-1.5-10.3-3c-2.4-1.2-5.2-3-7.8-5.1c0,0.3,0,0.6,0.1,0.8c0,0.1,0,0.2,0,0.2c0,0.2,0,0.4,0,0.6c0,0.1,0,0.2,0,0.3
		c0,0.2,0,0.4,0.1,0.6c0,0.1,0,0.2,0,0.2c0,0.2,0,0.5,0.1,0.7c0,0.4,0.1,0.6,0.1,0.9c0,0.3,0.1,0.6,0.1,0.8c0,0.1,0,0.1,0,0.2
		c0,0.2,0.1,0.5,0.1,0.7c0,0.1,0,0.1,0,0.1c0,0.3,0.1,0.5,0.1,0.8c0.2,0.8,0.4,1.6,0.6,2.4c0.4,1.3,0.8,2.5,1.3,3.6
		c0.1,0.2,0.2,0.3,0.2,0.5c0.1,0.2,0.1,0.3,0.2,0.4c0.1,0.2,0.2,0.3,0.2,0.4c0.1,0.2,0.2,0.4,0.3,0.5c0.1,0.1,0.1,0.1,0.1,0.1
		C4.7,26.6,4.8,26.8,5,27c0.1,0.1,0.2,0.2,0.3,0.3l0.1,0.1c0.1,0.1,0.1,0.1,0.2,0.2l0.1,0.1c0.1,0.1,0.1,0.1,0.2,0.2
		C5.9,28,6,28,6,28c0.1,0.1,0.1,0.1,0.2,0.1c0.1,0,0.1,0.1,0.1,0.1c0.1,0.1,0.1,0.1,0.2,0.1c0.1,0,0.1,0.1,0.1,0.1
		c0.1,0,0.2,0.1,0.2,0.1c0,0,0.1,0,0.1,0.1c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0.1,0.2,0.1c5.8,1.8,11.8-0.3,18.7,5.2
		C25.8,25.2,30.9,21.8,32.8,16.1L32.8,16.1z"/>

        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-636.6533" y1="371.6093" x2="-636.9062"
                        y2="373.2855" gradientTransform="matrix(14.1038 -7.1863 -8.9626 -17.59 12344.5371 1990.3057)">
            <stop offset="4.294500e-02" style="stop-color:#5F2385"/>
            <stop offset="1" style="stop-color:#FFFFFF"/>
        </linearGradient>
        <path class="st1" d="M22.4,9.5c-0.5,3.2-1.9,6.8-3.6,10.1c6.6,0.9,12.9,0,14.1-3.8c1.3-4.1-4-10.7-10.1-15.5
		C23,3.6,22.9,6.9,22.4,9.5L22.4,9.5z"/>

        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="-636.843" y1="371.649" x2="-636.8122"
                        y2="373.3809" gradientTransform="matrix(14.128 -7.1986 -8.9708 -17.6062 12349.8174 1995.8845)">
            <stop offset="4.294500e-02" style="stop-color:#5F2385"/>
            <stop offset="1" style="stop-color:#FFFFFF"/>
        </linearGradient>
        <path class="st2" d="M8.5,16.7c-2.4-1.2-5.2-3-7.8-5.1c0.5,7.8,2.7,15.9,6.8,17.3c3.8,1.3,8.2-3.4,11.3-9.2
		C15.1,19.1,11.4,18.1,8.5,16.7L8.5,16.7z"/>

        <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="-636.8793" y1="384.4781" x2="-636.9415"
                        y2="383.4427" gradientTransform="matrix(14.1768 -7.2234 -14.355 -28.1733 14554.2305 6242.3496)">
            <stop offset="0.2331" style="stop-color:#4F1374"/>
            <stop offset="0.8405" style="stop-color:#5F2385"/>
        </linearGradient>
        <path class="st3" d="M0.7,11.6c0.3,4.7,1.2,9.6,2.8,13c0.1,0.1,0.2,0.3,0.2,0.4c0.1,0.2,0.2,0.3,0.2,0.4c0.1,0.2,0.2,0.3,0.2,0.4
		c0.1,0.2,0.2,0.3,0.3,0.4c0.1,0.1,0.1,0.1,0.2,0.2c0.1,0.1,0.1,0.2,0.1,0.2C4.9,26.8,5,26.9,5,27.1c0.7,0.9,1.5,1.5,2.4,1.8
		c0.1,0,0.2,0.1,0.2,0.1c5.8,1.8,11.6-0.3,18.5,5.1c-0.5-0.8-5.4-7.1-12.6-10C4,20.4,0.7,11.6,0.7,11.6L0.7,11.6z"/>

        <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="-637.1393" y1="384.5928" x2="-636.4935"
                        y2="383.55" gradientTransform="matrix(14.0613 -7.1646 -14.3661 -28.195 14496.2344 6282.8765)">
            <stop offset="0.2331" style="stop-color:#4F1374"/>
            <stop offset="0.8405" style="stop-color:#5F2385"/>
        </linearGradient>
        <path class="st4" d="M32.9,15.8c1.3-4.1-4-10.7-10.1-15.5c0,0,5.2,7.8,2.7,17.7c-2,7.7,0.6,15.5,0.8,16.1c-0.5-8.8,4.7-12.2,6.6-18
		C32.8,16,32.9,15.9,32.9,15.8z"/>
        <path class="st5" d="M8.5,16.7c-2.4-1.2-5.2-3-7.8-5.1c0.5,7.8,2.7,15.9,6.8,17.3c3.8,1.3,8.2-3.4,11.3-9.2
		C15.1,19.1,11.4,18.1,8.5,16.7"/>
    </g>
</svg>
