<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 272.66 272.66">
    <title>Synolia Logo</title>
    <g>
        <path d="M420,247.82l-61.58,31.33a4.24,4.24,0,0,0-1.9,5.49,58.82,58.82,0,0,1-7.4,58.48c-.48.64-1,1.26-1.48,1.88a58.89,58.89,0,0,1-65.93,17.62c-.75-.28-1.49-.57-2.22-.88A59.08,59.08,0,0,1,250,334.35c-.37-.7-.72-1.42-1.05-2.14a58.79,58.79,0,0,1,10.86-65.32c.54-.58,1.11-1.14,1.68-1.7a58.83,58.83,0,0,1,60.09-13.31,4.22,4.22,0,0,0,5.35-2.28l23.36-55.28c3.75-8.9,1.35-14.07-3.34-15.69a136.41,136.41,0,0,0-143.43,35c-.54.58-1.11,1.14-1.65,1.73a136.35,136.35,0,0,0-22,152c.36.72.73,1.41,1.09,2.12a136.83,136.83,0,0,0,68.43,63.66c.73.31,1.48.58,2.22.88a136.26,136.26,0,0,0,154-37.56c.52-.6,1.05-1.19,1.56-1.8a136.29,136.29,0,0,0,18.68-144.92,4.27,4.27,0,0,0-5.8-1.93"
              transform="translate(-165.98 -171.17)"/>
        <path d="M363.31,261.17l59.1-29.79a4.25,4.25,0,0,0,1.51-6.31,180.77,180.77,0,0,0-46.58-43.94,4.25,4.25,0,0,0-6.23,1.93l-25.54,61.31a4.14,4.14,0,0,0,1.4,4.92A73.79,73.79,0,0,1,358.24,260a4.15,4.15,0,0,0,5.08,1.13"
              transform="translate(-165.98 -171.17)"/>
    </g>
</svg>
