name: Sylius
'on':
    push:
        branches:
            - master
            - develop
        paths-ignore:
            - README.md
    pull_request:
        paths-ignore:
            - README.md
jobs:
    sylius:
        name: 'PHPUnit-Behat (PHP ${{ matrix.php }} Sylius ${{ matrix.sylius }} Symfony ${{ matrix.symfony }})'
        runs-on: ubuntu-18.04
        strategy:
            fail-fast: false
            matrix:
                php:
                    - 7.4
                    - 8.0
                    - 8.1
                sylius:
                    - 1.9.0
                    - 1.10.0
                    - 1.11.0
                    - 1.12.0
                symfony:
                    - 4.4
                    - 5.2
                    - 5.3
                    - 5.4
                    - 6.1
                node:
                    - 14.x
                exclude:
                    -
                        sylius: 1.9.0
                        php: 8.0
                    -
                        sylius: 1.9.0
                        php: 8.1
                    -
                        sylius: 1.10.0
                        php: 7.4
                        symfony: 4.4
                    -
                        sylius: 1.10.0
                        php: 8.0
                        symfony: 4.4
                    -
                        sylius: 1.10.0
                        php: 8.1
                        symfony: 4.4
                    -
                        sylius: 1.11.0
                        php: 7.4
                        symfony: 4.4
                    -
                        sylius: 1.11.0
                        php: 7.4
                        symfony: 5.2
                    -
                        sylius: 1.11.0
                        php: 7.4
                        symfony: 5.3
                    -
                        sylius: 1.11.0
                        php: 7.4
                        symfony: 5.4
                    -
                        sylius: 1.11.0
                        php: 8.0
                        symfony: 4.4
                    -
                        sylius: 1.11.0
                        php: 8.0
                        symfony: 4.4
                    -
                        sylius: 1.11.0
                        php: 8.1
                        symfony: 4.4
                    -
                        sylius: 1.12.0
                        symfony: 4.4
                    -
                        sylius: 1.12.0
                        php: 7.4
                    -
                        sylius: 1.9.0
                        symfony: 6.1
                    -
                        sylius: 1.10.0
                        symfony: 6.1
                    -
                        sylius: 1.11.0
                        symfony: 6.1
                    -
                        sylius: 1.12.0
                        symfony: 4.4
                    -
                        sylius: 1.12.0
                        php: 7.4
                    -
                        php: 8.0
                        symfony: 6.1
        env:
            APP_ENV: test
            package-name: synolia/sylius-akeneo-plugin
        steps:
            -
                name: 'Setup PHP'
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '${{ matrix.php }}'
                    ini-values: date.timezone=UTC
                    extensions: intl
                    coverage: none
            -
                name: 'Setup Node'
                uses: actions/setup-node@v1
                with:
                    node-version: '${{ matrix.node }}'
            -
                uses: actions/checkout@v2
            -
                name: 'Composer - Get Cache Directory'
                id: composer-cache
                run: 'echo "::set-output name=dir::$(composer config cache-files-dir)"'
            -
                name: 'Composer - Set cache'
                uses: actions/cache@v2
                id: cache-composer
                with:
                    path: '${{ steps.composer-cache.outputs.dir }}'
                    key: 'php-${{ matrix.php }}-sylius-${{ matrix.sylius }}-symfony-${{ matrix.symfony }}-composer-${{ hashFiles(''**/composer.json'') }}'
                    restore-keys: 'php-${{ matrix.php }}-sylius-${{ matrix.sylius }}-symfony-${{ matrix.symfony }}-composer-'
            -
                name: 'Composer - Create cache directory'
                run: 'mkdir -p /home/runner/.composer/cache'
                if: 'steps.cache-composer.outputs.cache-hit != ''true'''
            -
                name: 'Composer - Github Auth'
                run: 'composer config -g github-oauth.github.com ${{ github.token }}'
            -
                name: 'Yarn - Get cache directory'
                id: yarn-cache
                run: 'echo "::set-output name=dir::$(yarn cache dir)"'
            -
                name: 'Yarn - Set Cache'
                uses: actions/cache@v2
                with:
                    path: '${{ steps.yarn-cache.outputs.dir }}'
                    key: 'node-${{ matrix.node }}-yarn-${{ hashFiles(''**/package.json **/yarn.lock'') }}'
                    restore-keys: "node-${{ matrix.node }}-yarn-\n"
            -
                name: 'Install Sylius-Standard and Plugin'
                run: 'make install -e SYLIUS_VERSION=${{ matrix.sylius }} SYMFONY_VERSION=${{ matrix.symfony }} PHP_VERSION=${{ matrix.php }}'
            -
                name: 'Doctrine Schema Validate - Run'
                working-directory: ./tests/Application
                run: 'php bin/console doctrine:schema:validate --skip-sync'
                if: 'always() && steps.end-of-setup-sylius.outcome == ''success'''
            -
                name: 'Run PHPUnit'
                run: 'make phpunit'
                if: 'always() && steps.end-of-setup-sylius.outcome == ''success'''
        services:
            mariadb:
                image: 'mariadb:10.4.11'
                ports:
                    - '3306:3306'
                env:
                    MYSQL_ALLOW_EMPTY_PASSWORD: true
                options: '--health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=3'
